@font-face {
    font-family: 'Qatar2022';
    src: url("../assets/Qatar2022/Qatar2022Arabic-Bold.ttf");
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    font-family: 'Qatar2022';
}

html {
    background-color: #04151F;
}

body {
	line-height: 1;
    padding: 0;
    margin: 0;
    color: #CAD8DE;
    background-color: #04151F;
    /* font-family: Arial, Helvetica, sans-serif; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.botaoNav {
    font-weight: bold;
    font-size: 1.1rem;
    color: #04151F;
}

#titulo {
    background-color: #04151F;
    color: #6D0D30;
    padding: 15px;
    margin-bottom: 0px;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
}

input, button {
    padding: 8px 16px;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 0 20px;
    cursor: pointer;
}

#containerTabela {
    background-color: #04151F;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 30px 20px;
}

#tabela {
    font-size: 1.5rem;
    font-weight: bold;
}

#tabela thead tr {
    background-color: #6D0D30;
    color: #FDFCFF;
    text-align: center;
}

#tabela thead tr th {
    padding: 5px;
}

/* celulas */
#tabela td {
    background-color: #FDFCFF;
    color: #04151F;
    text-align: center;
    padding: 5px 60px;
    margin: 1px ;
    border-radius: 10px;
    border: solid 1px #CAD8DE;
}

#menu-horizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#menu-horizontal ul {
    list-style: none; /*tira os marcadores*/
    padding: 0;
    background-color: #88153C;
    text-align: right; /*alinhar os elementos na direita*/
}

#menu-horizontal ul li {
    display: inline-block; /*ficar em uma linha (e naocolunas)*/
}

#menu-horizontal ul li a {
    color: antiquewhite;
    text-decoration: none; /*tira o sublinhado*/
    padding: 20px;
    display: inline-block; /*cria um bloco com o paddinginformado*/
    transition: background 1s; /*efeito de fade combinado com o hover*/
}

#menu-horizontal ul li a:hover {
    background-color: black;
    opacity: 0.5; /*opcional */
}